body {
    color: white;
    font-family: "微軟正黑體";
}

#top-bar {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100px;
    right: 0px;
    background-color: rgba(220, 231, 252, 0.52);
    background-blend-mode: multiply;
    background-image: url("../img/4567.png");
    background-repeat: no-repeat;
    background-size: 100%;
}


.myform {
    margin-bottom: 10px;
    margin-right: 50px;
    color: rgba(0, 0, 0, 0.733);
    font-weight: bold;

}



.logo {
    position: relative;
    float: left;
    margin-left: 30px;
    margin-top: 15px;
    max-height: 75px;
    max-width: 75px;
}

.menu-btn {
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 35px;
    float: right;
    margin-right: 20px;
    margin-top: 10px;
}

.menu-img {
    display: flex;
    float: right;
    max-width: 35px;
    max-height: 35px;
    padding-top: 20px;
    padding-left: 15px;

}

.dropdown {
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1c0;
    max-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgba(221, 221, 221, 0.87);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #bbbbbb2c;
}

.search {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-self: center;
    width: 800px;
    padding-left: 400px;
    padding-top: 35px;
}

.search-text {
    display: flex;
}

.search-btn {
    display: flex;
    content: url("../img/loupe.png");
    padding-left: 10px;
    width: 25px;
    height: 25px;
}

#content {
    /*這裡開始是主頁面*/
    background-color: rgba(210, 227, 252, 0.534);
    background-blend-mode: multiply;
    background-image: url("../img/1234.png");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: 100px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: auto;
    color: rgb(95, 95, 95);
}

.goods {
    background-color: rgba(0, 0, 0, 0.411);
    border-radius: 10px;
    width: 1300px;
    display: block;
    margin: 50px auto 50px auto;
    text-align: center;
}

.sell-imgblock {
    display: inline-block;
    margin: 100px;
}

.sell-img {
    object-fit: cover;
    border-radius: 10px;
    display: inline-block;
    width: 500px;
    height: 500px;
}

.sell-choose {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.171);
    float: right;
    margin: 100px 100px 100px 0px;
    width: 500px;
    height: 500px;
}

.sell-name {
    text-align: center;
    font-size: 50px;
    color: rgba(211, 205, 178, 0.822);
}

.sell-amount {
    text-align: left;
    font-size: 40px;
    padding-left: 50px;
    color: rgba(236, 184, 87, 0.616);

}

.sell-info {
    display: inline-flex;
    align-self: center;
    width: 400px;
    height: 250px;
    margin: 15px 0px 15px 0px;
    text-align: left;
    color: rgba(211, 205, 178, 0.822);
    font-weight: bold;

}

.qty {
    width: 40px;
    height: 35px;
    text-align: center;
    border: 0;


    background-color: rgba(255, 255, 255, 0.336);
}

input.qtyplus {
    width: 40px;
    height: 35px;
    color: rgba(241, 201, 125, 0.699);
    background: #00000034;

}

input.qtyminus {
    width: 40px;
    height: 35px;
    color: rgba(241, 201, 125, 0.699);
    background: #00000042;

}



.car-btn {
    display: inline-block;
}

.buy-btn {
    display: inline-block;
}

.car-btn {
    display: inline-flex;
    margin-right: 20px;

    border: 0;
    background-color: rgba(0, 0, 0, 0.322);
    color: rgba(231, 195, 129, 0.952);
    border-radius: 5px;
    cursor: pointer;

    height: 40px;
    width: 100px;

    vertical-align: middle;
    display: inline-block;


}


.car-btn:hover {
    color: rgba(0, 0, 0, 0.829);
    background-color: rgba(231, 195, 129, 0.664);
    border: 2px rgba(0, 0, 0, 0.322) solid;
}

.buy-btn {
    display: inline-flex;
    margin-right: 20px;

    border: 0;
    background-color: rgba(0, 0, 0, 0.322);
    color: rgba(231, 195, 129, 0.952);
    border-radius: 5px;
    cursor: pointer;

    height: 40px;
    width: 100px;

    vertical-align: middle;
    display: inline-block;


}


.buy-btn:hover {
    color: rgba(0, 0, 0, 0.829);
    background-color: rgba(231, 195, 129, 0.664);
    border: 2px rgba(0, 0, 0, 0.322) solid;
}





.title {
    display: flex;
    justify-content: center;
    font-size: 50px;
    padding-top: 50px;
}

/*.title-bg{
    display: flex;
    justify-content: center;
    background-color: rgb(247, 247, 247);
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
    border: rgb(220, 228, 248) solid 3px;
}*/
.assess-block {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;

    color: rgba(224, 173, 77, 0.733);

}

.assess-column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.assess {
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.151);
    flex-wrap: wrap-reverse;
    padding: 30px;
    border-radius: 20px;
    margin: 20px;
}

.ass-text {
    background-color: rgba(255, 255, 255, 0.301);
    width: 80%;
    height: 150px;
    margin-top: 32px;
    border: rgba(252, 206, 138, 0.726) 3px solid;
    border-radius: 10px;
    font-size: 30px;
    vertical-align: left;
    color: rgba(211, 205, 178, 0.822);
    font-weight: bold;
    text-align: left;
    padding-left: 20px;
    padding-top: 20px;
}

.ass-img {
    margin: 25px 10px 25px 10px;
    width: 150px;
    height: 150px;
    font-weight: 700px;
    border: rgba(252, 206, 138, 0.726) 5px solid;
    border-radius: 20px;
    padding: 5px;

    margin: 20px;
}

#ass-star {
    display: flexbox;
    flex-direction: row;
    flex-wrap: nowrap;
}
.star {
    width: 50px;
    height: 50px;
}
.star0 {
    content: url("../img/star.png");
    width: 50px;
    height: 50px;
}

.star1 {
    content: url("../img/star1.png");
    width: 50px;
    height: 50px;
}

.ass-enter {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.26);
    flex-wrap: wrap-reverse;
    padding: 30px;
    border-radius: 20px;
    margin: 20px;
}

.assent-img {
    margin: 25px 10px 25px 10px;
    width: 150px;
    height: 150px;
    font-weight: 700px;
    border: rgba(252, 206, 138, 0.726) 5px solid;
    border-radius: 20px;
    padding: 5px;

    margin: 20px;
}

.ass-btn {
    display: inline-flex;
    margin-left: 55px;
    border: 0;
    background-color: rgba(0, 0, 0, 0.322);
    color: rgba(231, 195, 129, 0.952);
    border-radius: 5px;
    cursor: pointer;

    height: 40px;
    width: 100px;

    vertical-align: middle;
    display: inline-block;


}


.ass-btn:hover {
    color: rgba(0, 0, 0, 0.829);
    background-color: rgba(231, 195, 129, 0.664);
    border: 2px rgba(0, 0, 0, 0.322) solid;
}




.footer {
    /*這裡開始是資訊列*/
    color: white;
    background-color: rgba(0, 0, 0, 0.637);
    border-top: rgb(220, 228, 248) solid 3px;
    display: block;
    height: 100px;
    text-align: center;
}

.foot-btn {
    letter-spacing: 100px;

}

.fb {
    content: url("../img/facebook.png");
    width: 100%;
    max-width: 45px;
    max-height: 45px;
}

.ig {
    content: url("../img/instagram.png");
    width: 100%;
    max-width: 45px;
    max-height: 45px;
}

.mail {
    content: url("../img/email.png");
    width: 100%;
    max-width: 50px;
    max-height: 50px;
}

.about {
    content: url("../img/info.png");
    width: 100%;
    max-width: 45px;
    max-height: 45px;
}